<div class="row">
    <nav class="teal lighten-1 col s6 offset-s3">
      <ul id="nav-mobile" class="hide-on-med-and-down menu">
        <li><a href="/users/favorites">Favorites</a></li>
        <li><a href="/users/dashboard">Search city</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
</nav>
</div>
